
*.svn-base
2409_dsft_thebridge_core/Talleres/Docker/app/.svn/entries
2409_dsft_thebridge_core/Talleres/Docker/app/.svn/format
2409_dsft_thebridge_core/Talleres/Docker/app/.svn/wc.db
2409_dsft_thebridge_core/Talleres/Docker/app/.svn/wc.db-journal
2409_dsft_thebridge_core/Talleres/Docker/app/docker-compose.yaml
2409_dsft_thebridge_core/Talleres/Docker/app/Dockerfile
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/auto.cnf
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/ca-key.pem
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/ca.pem
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/client-cert.pem
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/client-key.pem
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/ib_buffer_pool
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/ib_logfile0
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/ib_logfile1
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/ibdata1
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql.sock
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/columns_priv.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/columns_priv.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/columns_priv.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/db.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/db.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/db.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/db.opt
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/engine_cost.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/engine_cost.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/event.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/event.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/event.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/func.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/func.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/func.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/general_log.CSM
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/general_log.CSV
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/general_log.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/gtid_executed.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/gtid_executed.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/help_category.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/help_category.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/help_keyword.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/help_keyword.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/help_relation.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/help_relation.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/help_topic.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/help_topic.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/innodb_index_stats.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/innodb_index_stats.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/innodb_table_stats.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/innodb_table_stats.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/ndb_binlog_index.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/ndb_binlog_index.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/ndb_binlog_index.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/plugin.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/plugin.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/proc.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/proc.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/proc.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/procs_priv.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/procs_priv.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/procs_priv.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/proxies_priv.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/proxies_priv.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/proxies_priv.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/server_cost.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/server_cost.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/servers.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/servers.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/slave_master_info.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/slave_master_info.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/slave_relay_log_info.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/slave_relay_log_info.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/slave_worker_info.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/slave_worker_info.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/slow_log.CSM
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/slow_log.CSV
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/slow_log.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/tables_priv.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/tables_priv.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/tables_priv.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone_leap_second.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone_leap_second.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone_name.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone_transition.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone_transition.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone_transition_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/time_zone_transition_type.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/user.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/user.MYD
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/mysql/user.MYI
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/accounts.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/cond_instances.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/db.opt
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_stages_current.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_stages_history.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_stages_history_long.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_stages_summary_by_account_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_stages_summary_by_host_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_stages_summary_by_thread_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_stages_summary_by_user_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_stages_summary_global_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_current.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_history.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_history_long.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_summary_by_account_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_summary_by_digest.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_summary_by_host_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_summary_by_program.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_summary_by_thread_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_summary_by_user_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_statements_summary_global_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_transactions_current.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_transactions_history.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_transactions_history_long.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_transactions_summary_by_account_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_transactions_summary_by_host_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_transactions_summary_by_thread_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_transactions_summary_by_user_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_transactions_summary_global_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_waits_current.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_waits_history.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_waits_history_long.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_waits_summary_by_account_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_waits_summary_by_host_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_waits_summary_by_instance.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_waits_summary_by_thread_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_waits_summary_by_user_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/events_waits_summary_global_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/file_instances.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/file_summary_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/file_summary_by_instance.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/global_status.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/global_variables.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/host_cache.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/hosts.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/memory_summary_by_account_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/memory_summary_by_host_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/memory_summary_by_thread_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/memory_summary_by_user_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/memory_summary_global_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/metadata_locks.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/mutex_instances.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/objects_summary_global_by_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/performance_timers.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/prepared_statements_instances.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/processlist.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/replication_applier_configuration.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/replication_applier_status.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/replication_applier_status_by_coordinator.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/replication_applier_status_by_worker.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/replication_connection_configuration.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/replication_connection_status.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/replication_group_member_stats.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/replication_group_members.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/rwlock_instances.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/session_account_connect_attrs.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/session_connect_attrs.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/session_status.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/session_variables.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/setup_actors.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/setup_consumers.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/setup_instruments.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/setup_objects.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/setup_timers.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/socket_instances.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/socket_summary_by_event_name.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/socket_summary_by_instance.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/status_by_account.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/status_by_host.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/status_by_thread.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/status_by_user.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/table_handles.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/table_io_waits_summary_by_index_usage.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/table_io_waits_summary_by_table.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/table_lock_waits_summary_by_table.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/threads.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/user_variables_by_thread.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/users.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/performance_schema/variables_by_thread.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/private_key.pem
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/public_key.pem
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/server-cert.pem
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/server-key.pem
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/db.opt
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/host_summary.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/host_summary_by_file_io.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/host_summary_by_file_io_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/host_summary_by_stages.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/host_summary_by_statement_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/host_summary_by_statement_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/innodb_buffer_stats_by_schema.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/innodb_buffer_stats_by_table.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/innodb_lock_waits.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/io_by_thread_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/io_global_by_file_by_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/io_global_by_file_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/io_global_by_wait_by_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/io_global_by_wait_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/latest_file_io.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/memory_by_host_by_current_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/memory_by_thread_by_current_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/memory_by_user_by_current_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/memory_global_by_current_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/memory_global_total.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/metrics.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/processlist.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/ps_check_lost_instrumentation.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/schema_auto_increment_columns.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/schema_index_statistics.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/schema_object_overview.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/schema_redundant_indexes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/schema_table_lock_waits.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/schema_table_statistics.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/schema_table_statistics_with_buffer.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/schema_tables_with_full_table_scans.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/schema_unused_indexes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/session.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/session_ssl_status.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/statement_analysis.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/statements_with_errors_or_warnings.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/statements_with_full_table_scans.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/statements_with_runtimes_in_95th_percentile.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/statements_with_sorting.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/statements_with_temp_tables.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/sys_config.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/sys_config.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/sys_config.TRG
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/sys_config_insert_set_user.TRN
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/sys_config_update_set_user.TRN
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/user_summary.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/user_summary_by_file_io.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/user_summary_by_file_io_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/user_summary_by_stages.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/user_summary_by_statement_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/user_summary_by_statement_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/version.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/wait_classes_global_by_avg_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/wait_classes_global_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/waits_by_host_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/waits_by_user_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/waits_global_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024host_summary.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024host_summary_by_file_io.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024host_summary_by_file_io_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024host_summary_by_stages.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024host_summary_by_statement_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024host_summary_by_statement_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024innodb_buffer_stats_by_schema.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024innodb_buffer_stats_by_table.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024innodb_lock_waits.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024io_by_thread_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024io_global_by_file_by_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024io_global_by_file_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024io_global_by_wait_by_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024io_global_by_wait_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024latest_file_io.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024memory_by_host_by_current_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024memory_by_thread_by_current_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024memory_by_user_by_current_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024memory_global_by_current_bytes.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024memory_global_total.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024processlist.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024ps_digest_avg_latency_distribution.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024ps_schema_table_statistics_io.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024schema_flattened_keys.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024schema_index_statistics.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024schema_table_lock_waits.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024schema_table_statistics.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024schema_table_statistics_with_buffer.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024schema_tables_with_full_table_scans.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024session.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024statement_analysis.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024statements_with_errors_or_warnings.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024statements_with_full_table_scans.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024statements_with_sorting.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024statements_with_temp_tables.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024user_summary.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024user_summary_by_file_io.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024user_summary_by_file_io_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024user_summary_by_stages.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024user_summary_by_statement_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024user_summary_by_statement_type.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024wait_classes_global_by_avg_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024wait_classes_global_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024waits_by_host_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024waits_by_user_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/sys/x@0024waits_global_by_latency.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/todos/db.opt
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/todos/todo_items.frm
2409_dsft_thebridge_core/Talleres/Docker/app/mysql-data/todos/todo_items.ibd
2409_dsft_thebridge_core/Talleres/Docker/app/package.json
2409_dsft_thebridge_core/Talleres/Docker/app/spec/persistence/sqlite.spec.js
2409_dsft_thebridge_core/Talleres/Docker/app/spec/routes/addItem.spec.js
2409_dsft_thebridge_core/Talleres/Docker/app/spec/routes/deleteItem.spec.js
2409_dsft_thebridge_core/Talleres/Docker/app/spec/routes/getItems.spec.js
2409_dsft_thebridge_core/Talleres/Docker/app/spec/routes/updateItem.spec.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/index.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/persistence/index.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/persistence/mysql.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/persistence/sqlite.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/routes/addItem.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/routes/deleteItem.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/routes/getItems.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/routes/updateItem.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/bootstrap.min.css
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/all.min.css
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-brands-400.eot
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-brands-400.svg\#fontawesome
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-brands-400.ttf
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-brands-400.woff
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-brands-400.woff2
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-regular-400.eot
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-regular-400.svg\#fontawesome
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-regular-400.ttf
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-regular-400.woff
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-regular-400.woff2
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-solid-900.eot
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-solid-900.svg\#fontawesome
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-solid-900.ttf
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-solid-900.woff
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/font-awesome/fa-solid-900.woff2
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/css/styles.css
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/index.html
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/js/app.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/js/babel.min.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/js/react-bootstrap.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/js/react-dom.production.min.js
2409_dsft_thebridge_core/Talleres/Docker/app/src/static/js/react.production.min.js
2409_dsft_thebridge_core/Talleres/Docker/app/yarn.lock
